#app {
    .main{
        button, .btn {
            border: {
                radius: $no-radius;
            }
        }
        input {
            border: {
                radius: $no-radius;
            }
        }
        .row {
            margin: $no-margin;
            padding: $no-padding;
            .resultContainer {
                background: {
                    color: $result-bgColor;
                }
                h6 {
                    float: left;
                    margin: $no-margin;
                    padding-top: 12px;
                    span {
                        position: relative;
                        top: 2px;
                    }
                }
                .category {
                    float: right;
                    margin: {
                        top: 7px;
                        right: 5px;
                        bottom: 5px;
                    }
                    .btn-primary:active,
                    .btn-primary.active,
                    .open > .dropdown-toggle.btn-primary {
                        background: $main-btn-color !important;
                    }

                }
            }
            .listContainer {
                background: {
                    color: $list-bgColor;
                }
                color: #fff;
                h6 {
                    margin: $no-margin;
                    padding-top: 12px;
                    span {
                        position: relative;
                        top: 2px;
                    }
                }
            }
        }
    }
}
