body {
    #app {
        .main{
            button {
                border: {
                    radius: $no-radius;
                }
            }
            input {
                border: {
                    radius: $no-radius;
                }
            }
            .row {
                margin: $no-margin;
            }

        }
    }
}
