#app {
    .muzic-login {
        .signup-form {
            .fui-check {
                color: $success-color;
            }
            .help-block {
                color: $error-color;
                p {
                    font-size: 12px;
                }
            }
        }
    }
}
