.navbar {
    height: 53px;
    border: {
        radius: $no-radius;
    }
    margin: {
        bottom: 0;
    }
}

@media screen and (min-width: 768px) {
    #app {
        .navbar {
            input {
                width: 300px;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    #app {
        .navbar {
            height: 153px;
            ul.nav {
                text: {
                    align: right;
                }
                ul.dropdown-menu {
                    position: absolute;
                    border: {
                        radius: 0;
                    }
                    text: {
                        align: right;
                    }
                }
            }
        }
    }
}
