#app {
    .main {
        .resultContainer {
            ul {
                clear: both;
                li.thumbnail {
                    border: {
                        width: 0;
                        radius: 0;
                    }
                    background: {
                        color: #ecf0f1;
                    }
                    div.muzicItem {
                        position: relative;
                        box : {
                            shadow: 5px 5px 7px #7F8C8D;
                        }
                        color: $main-color;
                        transition: box-shadow .8s linear;
                        text: {
                            align: center;
                        }
                        &:hover {
                            box: {
                                shadow: none;
                            }
                        }
                        &:hover .dim {
                            opacity: 1;
                        }
                        img {
                            width: 100%;
                        }
                        .title {
                            overflow: hidden;
                            display: block;
                            width: 90%;
                            margin: 5px auto;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            word-wrap: normal !important;
                            font-size: 13px;
                        }
                        .muzicInfo {
                            width: 95%;
                            text-overflow: ellipsis;
                            word-wrap: normal !important;
                            overflow: hidden;
                            white: {
                                space: nowrap
                            }
                            font: {
                                size: 12px;
                            }
                            span {
                                margin: 0 5px;
                            }
                        }
                        .dim {
                            opacity: 0;
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background:rgba(0,0,0,0.5);
                            font: {
                                size: 13px;
                            }
                            transition: opacity .8s ease-in-out;
                            text: {
                                align: center;
                            }
                            cursor: pointer;
                            p {
                                display: table;
                                width: 100%;
                                height: 100%;
                                .fui-plus {
                                    display: table-cell;
                                    vertical: {
                                        align: middle;
                                    }
                                }
                            }
                        }

                    }
                }
            }
            .getMoreBtn {
                position: relative;
                top: -10px;
            }
        }
        .listContainer {
            h6 {
                .fui-heart {
                    color: #e74c3c;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    #app {
        .main {
            .resultContainer {
                ul {
                    .thumbnail {

                    }
                }
            }
        }
    }

}
