<div class="main" ng-controller="mainController">
    <div ng-include="'views/partials/navbar.html'"></div>
    <div class="row">
        <div class="col-sm-9 resultContainer">
            <div>
                <h6><span class="glyphicon glyphicon-music"></span></h6>
                <div class="btn-group category">
                    <a class="btn btn-primary" ng-class="{ 'active' : isActive }" ng-click="loadRecentMuzic()">Recent muzic</a>
                    <a class="btn btn-primary" ng-class="{ 'active' : !isActive }" ng-click="loadPopularMuzic()">Popular muzic</a>
                </div>
            </div>
            <ul class="row">
                <li class="col-xs-6 col-sm-3 thumbnail" ng-repeat="item in youtubeData.muzic track by $index">
                    <div class="muzicItem" ng-click="addMuzic($index, item)">
                        <img ng-src="{{ item.snippet.thumbnails.medium.url }}">
                        <p class="title">{{ item.snippet.title }}</p>
                        <p class="muzicInfo">
                            <span><i class="glyphicon glyphicon-thumbs-up"></i> {{ item.likeCount | number }}</span>
                            <span><i class="fui-eye"></i> {{ item.viewCount | number }}</span>
                            <span><i class="glyphicon glyphicon-time"></i> {{ item.duration }}</span>
                        </p>
                        <div class="dim">
                            <p>
                                <span class="fui-plus"></span>
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
            <button type="button" class="btn btn-block btn-lg btn-primary getMoreBtn"><i class="fui-plus-circle"></i> Get More</button>
        </div>
        <div class="col-sm-3 listContainer">
            <h6><span class="fui-heart"></span></h6>
            <div class="todo">
                <div class="todo-search">
                    <input type="search"
                           class="todo-search-field"
                           ng-model="searchText"
                           placeholder="Search">
                </div>
                <ul ng-repeat="muzic in myMuzicData | filter: searchText track by $index">
                    <li ng-class="{ 'todo-done' : activeMuzic === $index }"
                        ng-click="selectMuzic($index)">
                        <div class="todo-icon" ng-class="activeMuzic === $index ? 'fui-volume' : 'fui-mute'"></div>
                        <div class="todo-content">
                            <h4 class="todo-name">
                                <strong>{{ muzic.title }}</strong>
                            </h4>
                            <span>{{ muzic.time }}</span>
                            <span class="fui-cross" ng-click="deleteMuzic($index)"></span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
