<form ng-submit="login(login)">
    <div class="form-group">
        <input type="email"
               id="login-email"
               class="form-control login-field"
               ng-model="login.email"
               placeholder="Enter your email">
        <label class="login-field-icon fui-mail" for="login-email"></label>
    </div>
    <div class="form-group">
        <input type="password"
               id="login-pw"
               class="form-control login-field"
               ng-model="login.password"
               placeholder="Password">
        <label class="login-field-icon fui-lock" for="login-pw"></label>
    </div>
    <button type="submit" class="btn btn-primary btn-lg btn-block">Log in</button>
    <button type="button" class="btn btn-info btn-lg btn-block" ng-click="fbLogin()">
        <span class="fui-facebook"></span>
        Log in
    </button>
    <a href="/#/" class="login-link" ng-click="pwLost()">Lost your password?</a>
</form>
<div class="sign-up">
    <button type="button" class="btn btn-default btn-lg btn-block" ng-click="signupToggle()">Sign up</button>
</div>
