<p ng-message="required"><span class="fui-cross-circle"></span> This field is required.</p>
<p ng-message="email"><span class="fui-cross-circle"></span> Please enter an email with at least an @ symbol.</p>
<p ng-message="minlength"><span class="fui-cross-circle"></span> Please enter a password with at least 6 characters.</p>
<p ng-message="maxlength"><span class="fui-cross-circle"></span> Password must be between 6 and 12 charactrs.</p>
<p ng-message="pattern"><span class="fui-cross-circle"></span> Must contain at least one lower letter, one uppercase letter, and one non-alpha character (a number or symbol).</p>
<p ng-message="pwCheck"><span class="fui-cross-circle"></span> Passwords do not match.</p>
