<form action="">
    <div class="form-group">
        <input type="email" id="signup-email" class="form-control login-field" placeholder="Enter your email">
        <label class="login-field-icon fui-mail" for="signup-email"></label>
    </div>
    <div class="form-group">
        <input type="password" id="signup-pw" class="form-control login-field" placeholder="Password">
        <label class="login-field-icon fui-lock" for="signup-pw"></label>
    </div>
    <div class="form-group">
        <input type="password" id="confirm-pw" class="form-control login-field" placeholder="Confirm password">
        <label class="login-field-icon fui-lock" for="confirm-pw"></label>
    </div>
    <div class="form-group">
        <input type="text" id="signup-nickname" class="form-control login-field" placeholder="Enter your nickname">
        <label class="login-field-icon fui-user" for="signup-nickname"></label>
    </div>
    <button type="button" class="btn btn-primary btn-lg btn-block">Create an account</button>
    <button type="button" class="btn btn-default btn-lg btn-block" ng-click="signupToggle()">Cancel</button>
</form>
